In [1]:
%load_ext autoreload
%autoreload 2

In [33]:
import os, sys
sys.path.append('../scripts/')
import geopandas as gpd
import shapely as shp
import matplotlib.pyplot as plt
import pandas as pd
import rasterio
import rasterio.mask
from rasterio.warp import calculate_default_transform, reproject, Resampling
import fiona

In [27]:
# filepaths **replace with folderpaths for batch later**

shp = r"../content/landscape_character_grid/selection_white_peak.shp"
tif = r"../content/tifs/189226695.27_clip.tif"
save = r"../content/tifs/10k_tifs/"

In [17]:
# read shapefile

with fiona.open(shp, "r") as shapefile:
    shapes = [feature["geometry"] for feature in shapefile]

In [13]:
# read tif
lyr = rasterio.open(tif)

In [20]:
# create gpd
# read imagery file
with rasterio.open(tif) as src:
    out_image, out_transform = rasterio.mask.mask(src, shapes, crop=True)
    out_meta = src.meta

In [37]:
# Save clipped imagery
out_meta.update({"driver": "GTiff",
                 "height": out_image.shape[1],
                 "width": out_image.shape[2],
                 "transform": out_transform})

with rasterio.open(r"../content/tifs/10k_tifs/clip.tif", "w", **out_meta) as dest:
    dest.write(out_image)

In [30]:
geo = gpd.read_file(shp)

In [32]:
geo.head()

,PLAN_NO,MAPNUM,SQNUM,B1_70,B2_70,B3_70,B6_70,B1_80,B2_80,B3_80,...,JCACODE,JCANAME,NCA_Name,NAID,NANAME,Area_SqKM,Hotlink,ALT,BLT,geometry
0,SK0468,57,20,0,0,1,0,0,0,1,...,52.0,White Peak,White Peak,30.0,White Peak,529,http://www.naturalengland.org.uk/publications/...,Upland,Upland,"POLYGON ((404000.001 368000.000, 404000.001 36..."
1,SK0469,57,25,0,0,0,0,0,0,0,...,52.0,White Peak,White Peak,30.0,White Peak,529,http://www.naturalengland.org.uk/publications/...,Upland,Upland,"POLYGON ((404000.001 369000.004, 404000.001 36..."
2,SK0567,58,11,0,0,0,0,0,0,0,...,52.0,White Peak,White Peak,30.0,White Peak,529,http://www.naturalengland.org.uk/publications/...,Upland,Upland,"POLYGON ((405000.003 366999.997, 405000.003 36..."
3,SK0568,58,16,0,0,0,0,0,0,0,...,52.0,White Peak,White Peak,30.0,White Peak,529,http://www.naturalengland.org.uk/publications/...,Upland,Upland,"POLYGON ((405000.003 368000.000, 405000.003 36..."
4,SK0569,58,21,0,0,0,0,0,0,0,...,52.0,White Peak,White Peak,30.0,White Peak,529,http://www.naturalengland.org.uk/publications/...,Upland,Upland,"POLYGON ((405000.003 369000.004, 405000.003 36..."